<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tesuto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LoginObj"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tesuto">
        <activity
            android:name=".TourokuKanryo"
            android:exported="false" />
        <activity
            android:name=".TourokuKakunin"
            android:exported="false" />
        <activity
            android:name=".error"
            android:exported="false" />
        <activity
            android:name=".touroku"
            android:exported="false" />
        <activity
            android:name=".kessekiitiran"
            android:exported="false" />
        <activity
            android:name=".sousinkanryou"
            android:exported="false" />
        <activity
            android:name=".KessekiKakunin"
            android:exported="false" />
        <activity
            android:name=".kessekirenraku"
            android:exported="false" />
        <activity
            android:name=".TeacherMenu"
            android:exported="false" />
        <activity
            android:name=".StudentMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>